<template>
	<div class="note">
		<h2 id="title">{{ title }}</h2>
		<textarea id="textbox" cols="40" rows="7" v-model="newNote.note" />
		<br />
		<button id="save" @click.prevent="addNote">Save</button>

		<ul id="list">
			<li v-for="(note, key) in notes" :key="key">
				{{ note.note }}
			</li>
		</ul>
	</div>
</template>

<script>
import { fetchNotes, postNote } from '../api';

const apiURL = 'http://localhost:5000';

export default {
	name: 'Note',
	props: {
		title: String,
		required: true,
	},
	data() {
		return {
			notes: [],
			newNote: {
				note: '',
			},
		};
	},
	async created() {
		await this.getNotes();
	},
	methods: {
		async addNote() {
			await postNote(apiURL, this.newNote);
			this.getNotes();
			this.newNote.note = '';
		},

		async getNotes() {
			try {
				const res = await fetchNotes(apiURL);
				this.notes = res.data.notes;
			} catch (err) {}
		},
	},
};
</script>

<style scoped></style>
